# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

In [7]:
import pandas as pd
import sqlite3
connection = sqlite3.connect('data.sqlite')
cursor = connection.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [11]:
#Your code here
cursor.execute("""SELECT * FROM employees
                        JOIN offices
                        USING(officeCode)
                        ORDER BY firstName;
                       """)
df = pd.DataFrame(cursor.fetchall()) 
df.columns = [i[0] for i in cursor.description]
print('Number of results:', len(df))
df.head()

Number of results: 23

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA),Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
1,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA
2,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep,London,+44 20 7877 2041,25 Old Broad Street,Level 7,,UK,EC2N 1HN,EMEA
3,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA),San Francisco,+1 650 219 4782,100 Market Street,Suite 300,CA,USA,94080,NA
4,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep,Paris,+33 14 723 4404,43 Rue Jouffroy D'abbans,,,France,75017,EMEA

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [12]:
# Your code here
cursor.execute("""SELECT * FROM customers
                        JOIN orders
                        USING(customerNumber);
                       """)
df = pd.DataFrame(cursor.fetchall()) 
df.columns = [i[0] for i in cursor.description]
print('Number of results:', len(df))
df.head()

Number of results: 326

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,orderNumber,orderDate,requiredDate,shippedDate,status,comments
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10298,2004-09-27,2004-10-05,2004-10-01,Shipped,
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10345,2004-11-25,2004-12-01,2004-11-26,Shipped,
3,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10278,2004-08-06,2004-08-16,2004-08-09,Shipped,

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and allthe product information for each product in the order.

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!